body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif; */
    font-family: 'Pixelify Sans', sans-serif; /* Apply Pixelify Sans */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('../public/hkpixelbg.png'); /* Replace with your image URL */
  background-size: cover; /* Ensure the image covers the whole page */
  background-position: center center; /* Center the image */
  background-repeat: no-repeat; /* Prevent repeating the image */
  background-attachment: fixed; /* Keep the image fixed while scrolling */
  color: #333;
  letter-spacing: 1px; /* Slight letter spacing for a retro feel */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
